.recommended {
    display: flex;
    justify-content: center;
    height: 300px;
    background: black;
    position: relative;
    margin-top: 60px;
}

.recommend {
    display: flex;
    flex-direction: row;
    color: white;
    position: relative;
}

.car-recommend {
    flex: 2;
    display: flex;
    flex-direction: row;
    position: relative;
}

.car-recommend img {
    position: absolute;
    top: -41px;
    right: 0;
    width: 200px;
    margin-bottom: 100px;
}

.text {
    padding-top: 80px;
    margin-top: 40px;
    margin-right: 20px;
}

.text h3 {
    font-size: 24px;
    color: #38ae38;
}

.text h1 {
    font-size: 2.5rem;
}

.btn-p {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 50px;
}

.btn-p p {
    margin-bottom: 20px;
}


bbutton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

button:hover {
    opacity: 0.8;
}


Input:focus{
    outline: none;
    border: none;
}

input:focus{
    outline: none;
    border: 1px solid white;
}


@media (max-width: 767px) {
    .recommended {
        display: flex;
        flex-direction: column;
    }

    .recommend {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .car-recommend {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .car-recommend img {
        display: none;
    }

    .text {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-right: 30px;
    }

    .text h1 {
        font-size: 30px;
        padding-left: 20px;
    }

    .btn-p p {
        display: flex;
        padding-right: 20px;
    }

    button {
        padding-left: 20px;
    }
}