.vertical-timeline-element-icon {
    background-color: #00d084 !important;
    box-shadow: none !important; /* Remove the box shadow */
    /* border: 5px solid black !important; */
  }

  .vertical-timeline-element-date{
    color: white !important
  }

/* For screens smaller than 768px (mobile devices) */
@media only screen and (max-width: 767px) {
    .vertical-timeline-element-date {
      display: block !important;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  
    .vertical-timeline-element-content {
      padding: 1rem !important;
    }
  
    .vertical-timeline-element-icon {
      width: 2rem !important;
      height: 2rem !important;
    }
  }
  
  /* For screens larger than 768px (desktop and tablets) */
  @media only screen and (min-width: 768px) {
    .vertical-timeline-element-content {
      padding: 1.5rem !important;
    }
  }